{% extends 'base.html' %}

{% block content %}
    <h1>Posts</h1>
    <ul>
        {% for post in object_list %}
        <li>
            <a href="{% url 'category_page' post.category|slugify %}">{{ post.category }}</a> - {{post.author}} - {{post.post_date}} <a href="{% url 'article_detail' post.pk %}">{{post.title}} </a> 
            {% if user.is_authenticated %}
                <small><a href="{% url 'update_post' post.pk %}">(Update)</a></small>&nbsp;or
                <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>  <br> 
            {% endif %}
            <br>
            {{post.body|slice:":200"}} <br>
        </li>        
        {% endfor %}
    </ul>

{% endblock %}