@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* html,body{
    display: grid;
    height: 70%;
    place-items: center;
    background-color: #f2f2f2;
} */

.wrapper {
    display: grid;
    margin-left: 450px;
    margin-top: 50px;
    width: 400px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20pc rgba(0,0,0,0.1);
}


.title{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    line-height: 100px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

form{
    padding: 10px 30px 50px 30px;
}

form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

form .field input{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 17px;
    border: 1px solid lightgrey;
    outline: none;
    transition: all 0.3s ease;
}

form .field input:valid,
form .field input:focus{
    border-color: #4158d0;
}

form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 17px;
    color: #999;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label{
    top: 0%;
    transform: translateY(-50%);
    color: #4158d0;
    background: #fff;
    font-size: 16px;
}

form .pass-link {
    color: #4158d0;
    margin: 8px 0 0 10px;
}

form .field input[type="submit"]{
    color: #fff;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding-left: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .field input[type="submit"]:active{
    transform: scale(0.95);
}

form .pass-link{
    color: #4158d0;
    margin: 8px 0 0 10px;
}

form .signup-link{
    text-align: center;
    margin-top: 20px;
    color: #262626;
}

form .pass-link a,
form .signup-link a{
    color: #4158d0;
    text-decoration: none;
}

form .pass-link a,
form .signup-link a:hover{
    text-decoration: underline;
}