body {
    text-align: center;
    font-size: large;
    background-color: rgba(128, 128, 128, 0.096);
    border: 2px solid black;
    width: 300px;
    position: absolute;
    left: 500px;
    top: 10%;
    right: 50%;
}


.text-center {
    text-align: center;
    font-size: large;
    background-color: rgba(128, 128, 128, 0.096);
    border: 1px solid black;
    margin: 0 auto; /* Center horizontally */
    width: 300px;
}

.flash-message {
    color: green;
}

input {
    text-align: center;
}

#file {
    border: 1.5px solid rgba(0, 0, 255, 0.167);
    padding: 2px;
}

.file-upload input[type="file"] {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#upload {
    margin-bottom: 10px;
    background-color: #007bff;
    text-decoration: none;
    border: none;

}

#upload:hover {
    background-color: blueviolet;
}

#verify:hover {
    background-color: aquamarine;
}